<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head'); -%>
<body>
    <%- include('../partials/header'); -%>
    <%- include('../component/buttonfloat'); %>
    <%- include('about') -%>
    <% if (errors) { %>
        <div class="errors">
            <h1><%= errors %></h1>
        </div>
    <%} %>
    <div class="search">
        <form action="/" method="post">
            <input type="search" name="search" id="search" placeholder="" required>
            <input type="submit" class="button" value="Location Search">
        </form>
    </div>
    <% if (location) { %>
        <div class="location">
            Name: <span><%= location[0].title %></span>
            Type: <span><%= location[0].location_type %></span>
            Earth ID: <span><%= location[0].woeid %></span>
            Lattitude and longitude: <span><%= location[0].latt_long %></span>
        </div>
    <% } %>
    <% if (forecasts) { %>
        <div class="forecasts">
            <% for (var i = 0; i < 6; i++){ %>
                <%- include('../component/card', {"forecast":forecasts.consolidated_weather[i]}); %>
            <% }; %>
        </div>
    <% } %>
    <%- include('../partials/footer'); -%>
</body>
</html>